table, td{
    border: solid 1px black;
    text-align: center;
}
td{
    padding-left: 30px;
    padding-right: 30px;
}

.red{
    background-color: red;
}

.dark-red{
    background-color: #b30000;
}

.darker-red{
    background-color: #660000;
}

.green{
    background-color: green;
}

.light-green{
    background-color: #99ff99;
}

.dark-green{
    background-color: #004d00;
}

.blue{
    background-color: blue;
}

.gray{
    background-color: #ccccff;
}

.dark-blue{
    background-color: #000066;
}

body{
    background-image:url("rainbow.png");
    background-position-x: left;
    background-position-y: 400px;
    background-repeat: repeat-x;
    background-size: 10vw 5vw;
}
