.vermelho{
    background-color: tomato;
}

.verde{
    background-color: lightgreen;
}

.furão{
    color: white;
    background-image: url("raven.png");
    background-size: 75px 40px;
    background-color: gray;
}

body{
    background-color: lightblue;
    background-image:url("raven.png");
    background-position-x: right;
    background-position-y: 700px;
    background-repeat: no-repeat;
}