h1 {
    text-align: center;
}

div{
    border: solid 3px black;
}

.lightgreen{
    background-color: lightgreen;
}

.lightblue{
    background-color: lightblue;
}

.white{
    background-color: white;
    font-weight: bold;
}

.white span{
    background-color: yellow;
}

.blueText{
    color: blue;
}

.redText{
    color:red;
}

.orangeText{
    color:orange;
}

.leftText{
    text-align: left;
}

.centerText{
    text-align: center;
}

.rightText{
    text-align: right;
}

.throughText{
    text-decoration: line-through;
}

.underText{
    text-decoration: underline;
}

.capitalText{
    text-transform: capitalize;
}

.upperText{
    text-transform: uppercase;
}

.smallIndent{
    text-indent: 5vw;
}

.bigIndent{
    text-indent: 15vw;
}

.bigHeight{
    line-height: 3vh;
}

.tightHeight{
    line-height: 15px;
}

.timesNewRoman{
    font-family:'Times New Roman', Times, serif
}

.Helvetica{
    font-family:Arial, Helvetica, sans-serif;
}

.Curly{
    font-family: "Sofia", sans-serif;
}

.italic{
    font-style: italic;
}

.bold{
    font-weight: bold;
}

.smol{
    font-size: 10px;
}

.small{
    font-size: 15px;
}

.medium{
    font-size: 20px;
}

.big{
    font-size: 25px;
}